

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Background and Base */
    --background-color: #ffffff;
    --background-color-dark: #e6e5e5c8;
    --text-color: #333333;

    /* Accent Color */
    --accent-color: #4F8CF7;

    /* Success (Positive Money) */
    --success-color: #9BE15D;

    /* Error (Overspending/Warnings) */
    --error-color: #FF6F61;

    /* Optional subtle background (like for cards) */
    --card-background: #f9f9f9;

    /* Optional border color */
    --border-color: #e0e0e0;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}